# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Reports
reports/

# Temporary
temp/

# Logs
*.log

# Output
output/

# Debug
debug/

# Word temporary files
~$*.docx

# Zip
*.zip

# PDF
*.pdf

# OS
.DS_Store
Thumbs.db